<main>
    <h1>CREATE NEW ACCOUNT</h1>
    <nav>
        <a href="new/post">New Post</a>
    </nav>
    <section>
        <form method="post">
            <input type="text" placeholder="username" name="username" id="">
            <input type="email" placeholder="email" name="email" id="">
            <input type="password" placeholder="*****" name="password" id="">
            <input type="submit" value="Signup">
        </form>
    </section>
</main>