<main>
    <h1>Blog Posts</h1>
    <nav>
        <a href="new/post">New Post</a>

        <a href="auth/logout">Logout</a>
    </nav>
    <section>
       <h1>Welcome <%= user.username %> </h1>
    </section>
</main>